<div class="card">
  <p-table
    [value]="values()"
    [tableStyle]="{ 'min-width': '1080px' }"
    stripedRows
    [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)"
    [paginator]="true"
    [rows]="rows()"
    [totalRecords]="totalRecords()"
  >
    <ng-template #caption>
      <div class="flex items-center">
        <span class="text-xl font-bold">{{ title() }}</span>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        @for (header of headers(); track header) {
          <th>{{ header }}</th>
        }
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template #body let-value>
      <tr>
        @for (field of fields(); track field; let i = $index) {
          @if (field.includes('date')) {
            <td>{{ value[field] | date: 'dd/MM/yyyy' }}</td>
          } @else if (field.includes('value') || field.includes('Value')) {
            <td>{{ value[field] | currency: 'BRL' }}</td>
          } @else {
            <td>
              {{ value[field] }}
              @if (i === 0) {
                @for (badge of badges(); track badge.field) {
                  @if (value[badge.field]) {
                    <p-tag [value]="badge.label" severity="info" class="badge-tag"/>
                  }
                }
              }
            </td>
          }
        }
        <td>
          <p-button variant="text" (click)="edit(value.id)" ariaLabel="Editar">
            <i class="pi pi-pencil"></i>
          </p-button>
          <p-button variant="text" (click)="delete(value.id)" ariaLabel="Excluir">
            <i class="pi pi-trash"></i>
          </p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template #footer>
      <tr>
        <td colspan="6">Mostrando {{ values() ? values().length : 0 }} de {{ totalRecords() }} {{ title().toLowerCase() }}.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
