<div class="main-container">
  <form [formGroup]="form" (ngSubmit)="salvar()" class="form">
    <div class="title"><h2 style="text-align: center">Meus Proventos</h2></div>
    <div class="container">
      <div class="field">
        <p-floatlabel variant="on">
          <input pInputText id="nome" formControlName="nome"/>
          <label for="nome">Nome</label>
        </p-floatlabel>
        @if (form.controls.nome.invalid &&
        (form.controls.nome.touched || form.controls.nome.dirty)) {
          <p-message severity="error" size="small" variant="simple">
            Nome é obrigatório
          </p-message>
        }
      </div>

      <div class="field">
        <p-floatlabel variant="on">
          <p-select inputId="tipo" formControlName="tipo" [options]="tipos()"/>
          <label for="tipo">Tipo</label>
        </p-floatlabel>
      </div>

      <div class="field">
        <p-floatlabel variant="on">
          <input pInputText id="descricao" formControlName="descricao"/>
          <label for="descricao">Descrição</label>
        </p-floatlabel>
      </div>

      <div class="field">
        <p-floatlabel variant="on">
          <p-datepicker inputId="data" formControlName="data" dateFormat="dd/mm/yy" [showIcon]="true" iconDisplay="input"/>
          <label for="data">Data</label>
        </p-floatlabel>
      </div>

      <div class="field">
        <p-floatlabel variant="on">
          <p-inputnumber inputId="valor" formControlName="valor" mode="currency" currency="BRL" locale="pt-BR"/>
          <label for="valor">Valor</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="container">
      <p-button [label]="editingId() ? 'Atualizar Provento' : 'Salvar Provento'" type="submit"/>
      @if (editingId()) {
        <p-button label="Cancelar" severity="secondary" [outlined]="true" type="button" (onClick)="cancelarEdicao()"/>
      }
    </div>
  </form>
</div>
<div class="table-container" id="table-expense">
  <app-table [values]="proventos()"
             [headers]="['Nome', 'Tipo', 'Valor', 'Data']"
             [title]="'Proventos'"
             [fields]="['name', 'type', 'value', 'date']"
             [totalRecords]="totalRecords()"
             [rows]="10"
             (pageChange)="onPageChange($event)"
             (editItem)="editar($event)"
             (deleteItem)="deleteById($event)"/>
</div>
