@import "primeicons/primeicons.css";

html {
  height: 100%;
  color-scheme: light;

  &.app-dark {
    color-scheme: dark;
  }
}

body {
  background-color: var(--p-content-background);
  color: var(--p-text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
}

.table-container {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

.field {
  min-width: 300px;

  .p-floatlabel {
    display: block;
    width: 100%;
  }

  input[pInputText],
  .p-select,
  .p-datepicker,
  .p-inputnumber {
    width: 100%;
  }
}
